body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

#root {
  height: 100%;
  margin: 0 auto;
}

:root {
  --color-main-green: #034752;
  --color-light-green: #09d588;
  --color-dark-grey: #b2b2b2;
  --color-light-grey: #f0f0f0;
  --color-yellow: #edce95;
  --color-light-white: #f9fcff;
  --color-white: #fff;
  --color-red: #e74c3c;
  --color-black: #000000;
  --shadow: rgba(0, 0, 0, 0.2);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body,
html {
  width: 100%;
  margin: 0;
  min-height: 100%;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

h1 {
  font-size: 2rem;
  padding: 0.5em;
}

h2 {
  font-size: 1.75rem;
  padding: 0.4em;
}

h3 {
  font-size: 1.5rem;
  padding: 0.3em;
}

h4 {
  font-size: 1.1rem;
}

p,
span {
  line-height: 1.5;
  font-size: 1rem;
  padding: 0.2em;
}

ul,
ol {
  padding: 0.2em;
  list-style-type: none;
  display: flex;
  width: 100%;
}

li {
  font-size: 1rem;
  padding: 0.2em 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 0.5em;
  border: 1px solid #ddd;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  /* overflow: hidden; */
}

button {
  border-color: transparent;
  font-size: 0.875rem;
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: 0.3s ease;
  border: none;
  border-radius: 5px;
  font-weight: 600;
}

input[type="date"],
input[type="text"],
input[type="email"],
textarea {
  font-size: 1rem;
  padding: 0.5em;
}

section {
  padding: 1em;
  margin: 0 auto;
  height: 100%;
}

header,
main,
footer,
aside,
nav {
  padding: 1em;
}

form>* {
  margin-top: 1rem;
}

a {
  text-decoration: none;
}

.container {
  width: 90%;
  max-width: 60em;
  margin: 0 auto;
}

.col {
  float: left;
  width: 50%;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}